body {
    /* background: #C0C0C0; */
}
body div {
    /* styles for viewing grid positioning */
    /* color: black;
    border: 1px solid black; */
}

/* Data table -> Column styling */
div[class^="col-"] {
    border: solid 1px black;
    display: inline-block;
}
div[class^="col-"]:nth-child(even) {
    background-color: #bfbfbf;
}
div[class^="col-"]:nth-child(odd) {
    background-color: #fff;
}
/* ==================== Start: CSS GRID SHIZ ==================== */

/* ===== Start: .main-container ===== */
.main-container {
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    grid-template-areas:    "header header header"
                            "main main sidebar"
                            "footer footer footer";
}
/* items */
.main-container div {
    font-size: 20px;
    padding: 20px;
}
/* specific item styles */
div.main-title {
    font-weight: bold;
    font-size: 2em;

    /* styles for viewing grid positioning */
    /* background: #b03532; */
    
    grid-area: header;
    
    /* align row axis: */
    justify-self: center;
}
div.main-client-data {
    grid-area: main;
}
/* sidebar is for welcome, # created, other settings */
.main-sidebar {
    background: #BFBF3F;
    grid-area: sidebar;
}
.main-data-table {
    background: #6a478f;
    grid-area: footer;
}
/* ===== [end: .main-container] ===== */

/* ===== Start: .client-data-container ===== */
.client-data-container {
    background: #33a8a5;
    /* -> grid-area set in other class <- */
    /* grid-area: main; */ 

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

    grid-template-areas:    "header"
                            "textarea"
                            "data-errors"
                            "actions";
}
.client-data-title {
    grid-area: header;
    justify-self: center;
}
div.client-data-textarea {
    /* background: #3d8bb1; */
    grid-area: textarea;
    padding: 0px;
}
div.client-data-errors {
    background: black;
    grid-area: data-errors;

    color: red;
    border: solid 2px red;
    margin: 5px;
    padding: 5px;
}
.client-data-actions {
    /* background: #da6f2b; */
    grid-area: actions;
}
/* ===== [end: .client-data-container] ===== */

/* ===== Start: .actions-container ===== */
.actions-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.actions-container div {
    padding: 0px;
    justify-self: center;
}
/* buttons themselves get css from bootstrap */
.actions-container button {
    padding: 10px;
    font-size: 16px;
}
/* ===== [end: .actions-container] ===== */

/* ===== Start: .sidebar-container ===== */
.sidebar-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    grid-gap: 20px;
}
.sidebar-container label {
    font-size: 13px; font-weight: normal; margin-left: 10px; margin-bottom: 0px;
}
.sidebar-container hr {
    margin-top: 5px; margin-bottom: 5px; border: 1px dotted #000000;
}
.sidebar-container div { padding: 0px; margin: 0px; }
.sidebar-container p { font-size: 14px; margin: 0px; }
.sidebar-login { justify-self: center; }
.sidebar-login button { font-size: 1em; }
.sidebar-italic { font-style: italic; font-size: 14px; }
.sidebar-errors div.sidebar-error {
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    color: red;
}
/* ===== [end: .sidebar-container] ===== */

/* ===== Start: .data-table-container ===== */
/* .data-table-container {
    display: grid;
    grid-template-columns: 1fr;
} */
/* div.data-table-row {
    display: grid;
    padding: 0px;
} */
/* Data table -> Overall table style */
div.data-table-container {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 0px;
}
div.row {
    padding: 0px;
}
div.row div {
    padding: 0px;
    font-size: 15px;
    overflow-x: hidden;
}
/* Data table -> plus / minus botton container */
div.data-table-buttons:nth-child(n) {
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display:inline-block;
}
div.data-table-buttons:nth-child(even) {  background-color: #bfbfbf;  }
div.data-table-buttons:nth-child(odd) {   background-color: #fff;  }
/* Data table buttons -> plus and minus */
button.table-buttons-minus { width: 35px; }
button.table-buttons-plus { width: 35px; }

/* ===== [end: .data-table-container] ===== */

/* ==================== [end: css grid shiz] ==================== */
