/* ========== Hide Client Details navigation items ========== */
/* 1st nth-of-type: grabs Client Details ul element */
/* 2nd nth-of-type: n + 2 gets all but first li element, which is CBI page */
ul.MM:nth-of-type(2) > li:nth-of-type(n + 2) {
    display: none !important;
}

/* ========== Hide Client Search navigation items ========== */
/* 1st nth-of-type: grabs Client Search ul element */
/* 2nd nth-of-type: 2 gets only 2nd li element, which is My Case Load page */
ul.MM:nth-of-type(4) > li:nth-of-type(2) {
    display: none !important;
}

/* ========== Hide Report navigation items ========== */
/* 1st nth-of-type: grabs Reports ul element */
/* 2nd nth-of-type: grabs Reports title h1 element */
ul.MM:nth-of-type(5), h1.type:nth-of-type(5) {
    display: none !important;
}

